.add-folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  padding: 20px;
}

label {
  padding: 10px;
}

.add-folder__button__group {
  display: flex;
  margin: 10px 0;
}

.form-folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.folder__control {
  padding: 10px;
}
